# **Análisis Predictivo y Descriptivo del Impacto de Factores Demográficos y Económicos en los Niveles de Ingresos en Canadá**

# Paso 1: definición del problema.
## Este proyecto tiene el potencial de ofrecer insights valiosos para diseñar políticas públicas, programas sociales y estrategias individuales para mejorar la movilidad económica
## Objetivos
- Objetivo General:
  Analizar y predecir los factores clave que influyen en los niveles de ingresos y el bienestar 
financiero en Canadá.
- Objetivos Específicos:
  1. Identificar las variables más relevantes que afectan los ingresos mediante técnicas de selección 
de características.
  2. Predecir los ingresos individuales utilizando modelos de Machine Learning supervisado.
  3. Visualizar las desigualdades regionales y por grupo demográfico en el bienestar financiero.

Importación de las librerías necesarias

In [ ]:
# Librería para la declaración y uso de Data Frames:
import pandas as pd

# Librería para realizar operaciones matemáticas: 
import numpy as np

# Librería para visualizar datos estadísticos: 
import seaborn as sns

# Librería para trazar gráficos:
import matplotlib.pyplot as plt


import os

# Paso 2. Lectura de datos.

In [2]:
# Importamos el dataset público.

import kagglehub

path = kagglehub.dataset_download("aradhanahirapara/income-survey-finance-analysis")

print("Path to dataset files:", path)

Path to dataset files: /home/vscode/.cache/kagglehub/datasets/aradhanahirapara/income-survey-finance-analysis/versions/1

In [3]:
# Lista los archivos en la ruta

files = os.listdir(path)
print("Archivos en el dataset:", files)

Archivos en el dataset: ['Income Survey Dataset.csv', 'Income_Dataset_Dictionary.docx']

In [4]:
# Cargar el archivo CSV en un DataFrame

dataset_path = os.path.join(path, "Income Survey Dataset.csv")
data = pd.read_csv(dataset_path)
data.head()

,PersonID,Weight,Province,MBMREGP,Age_gap,Gender,Marital_status,Highschool,Highest_edu,Work_ref,...,Pension,Self_emp_income.1,Total_income,Emp_insurance,Salary_wages,compensation,Family_mem,CFCOMP,CONDMP,RENTM
0,1,139.6500,59,38,15,2,3,1,3,2,...,0,0,20275,0,0,0,1,1,99999996,99999996
1,2,254.1041,35,17,9,1,1,1,2,1,...,0,0,110875,0,106000,0,4,4,99999996,99999996
2,3,254.1041,35,17,9,2,1,1,3,1,...,0,0,110875,0,106000,0,4,4,99999996,99999996
3,4,254.1041,35,17,4,1,4,2,1,1,...,0,0,110875,0,106000,0,4,4,99999996,99999996
4,5,254.1041,35,17,3,1,96,6,6,6,...,0,0,110875,0,106000,0,4,4,99999996,99999996

# Paso 3. Exploración y limpieza de datos.
## Paso 3.1 Comprensión de las características.

In [11]:
# Recurrimos al atributo shape para describir la información que contiene:
print (f" El conjunto de datos cuenta con información de {data.shape[0]} voluntarios, con un total de {data.shape[1]} datos característicos de cada uno de ellos.")

 El conjunto de datos cuenta con información de 72643 voluntarios, con un total de 38 datos característicos de cada uno de ellos.

## Paso 3.2 Identificación de valores duplicados y nulos.

In [12]:
# Información sobre las columnas
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72643 entries, 0 to 72642
Data columns (total 38 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PersonID           72643 non-null  int64
 1   Weight             72643 non-null  float64
 2   Province           72643 non-null  int64
 3   MBMREGP            72643 non-null  int64
 4   Age_gap            72643 non-null  int64
 5   Gender             72643 non-null  int64
 6   Marital_status     72643 non-null  int64
 7   Highschool         72643 non-null  int64
 8   Highest_edu        72643 non-null  int64
 9   Work_ref           72643 non-null  int64
 10  Work_yearly        72643 non-null  int64
 11  Emp_week_ref       72643 non-null  int64
 12  Total_hour_ref     72643 non-null  int64
 13  paid_emp_ref       72643 non-null  int64
 14  self_emp_ref       72643 non-null  int64
 15  Immigrant          72643 non-null  int64
 16  Year_immigrant     72643 non-null  int64
 17  income_after_tax   72643 non-null  int64
 18  Cap_gain           72643 non-null  int64
 19  Childcare_expe     72643 non-null  int64
 20  Child_benefit      72643 non-null  int64
 21  CPP_QPP            72643 non-null  int64
 22  Earning            72643 non-null  int64
 23  Guaranteed_income  72643 non-null  int64
 24  Investment         72643 non-null  int64
 25  Old_age_pension    72643 non-null  int64
 26  Private_pension    72643 non-null  int64
 27  Self_emp_income    72643 non-null  int64
 28  Pension            72643 non-null  int64
 29  Self_emp_income.1  72643 non-null  int64
 30  Total_income       72643 non-null  int64
 31  Emp_insurance      72643 non-null  int64
 32  Salary_wages       72643 non-null  int64
 33  compensation       72643 non-null  int64
 34  Family_mem         72643 non-null  int64
 35  CFCOMP             72643 non-null  int64
 36  CONDMP             72643 non-null  int64
 37  RENTM              72643 non-null  int64
dtypes: float64(1), int64(37)
memory usage: 21.1 MB
None

- En este punto conocemos que todas las variables son numéricas y por exigencias del proyecto transformaremos una de estas variables ("Province") a categórica.
- También conocemos que no existen valores nulos

In [ ]:
# Transformamos la variable numérica "Province" a categórica.

In [13]:
# Se utiliza el método .duplicated() para identificar los valores repetidos dentro del DataFrame:
print(f" Hay un total de {data.duplicated().sum()} valores duplicados.")

 Hay un total de 0 valores duplicados.

In [ ]:
# Resumen estadístico de las columnas numéricas
print(data.describe())

           PersonID        Weight      Province       MBMREGP       Age_gap  \
count  72643.000000  72643.000000  72643.000000  72643.000000  72643.000000
mean   36322.000000    507.016134     34.771458     20.433242      9.038201
std    20970.372139    622.308449     14.634608     10.755268      4.499854
min        1.000000     10.856700     10.000000      1.000000      1.000000
25%    18161.500000    151.937850     24.000000     13.000000      5.000000
50%    36322.000000    283.111000     35.000000     19.000000     10.000000
75%    54482.500000    605.346400     47.000000     28.000000     13.000000
max    72643.000000   8863.955800     59.000000     40.000000     15.000000

            Gender  Marital_status    Highschool   Highest_edu      Work_ref  \
count  72643.00000    72643.000000  72643.000000  72643.000000  72643.000000
mean       1.51113       21.930881      2.311537      3.525199      2.167284
std        0.49988       38.486236      2.259477      1.860497      1.826628
min        1.00000        1.000000      1.000000      1.000000      1.000000
25%        1.00000        1.000000      1.000000      2.000000      1.000000
50%        2.00000        3.000000      1.000000      3.000000      1.000000
75%        2.00000        4.000000      2.000000      4.000000      2.000000
max        2.00000       99.000000      9.000000      9.000000      6.000000

       ...        Pension  Self_emp_income.1  Total_income  Emp_insurance  \
count  ...   72643.000000       72643.000000  7.264300e+04   72643.000000
mean   ...    7665.033107        3901.038641  1.111956e+05    1747.700742
std    ...   19847.702036       19728.923744  8.363631e+04    4964.163767
min    ...       0.000000     -125000.000000 -9.565000e+04       0.000000
25%    ...       0.000000           0.000000  5.568750e+04       0.000000
50%    ...       0.000000           0.000000  9.337500e+04       0.000000
75%    ...       0.000000           0.000000  1.452000e+05       0.000000
max    ...  369000.000000      400000.000000  2.095000e+06   70000.000000

       Salary_wages  compensation    Family_mem        CFCOMP        CONDMP  \
count  7.264300e+04  72643.000000  72643.000000  72643.000000  7.264300e+04
mean   7.777053e+04    427.945914      2.797668      3.542255  9.624879e+07
std    8.109349e+04   3126.157688      1.389884      1.564237  1.900139e+07
min    0.000000e+00      0.000000      1.000000      1.000000  0.000000e+00
25%    6.500000e+03      0.000000      2.000000      3.000000  1.000000e+08
50%    6.250000e+04      0.000000      2.000000      4.000000  1.000000e+08
75%    1.200000e+05      0.000000      4.000000      4.000000  1.000000e+08
max    1.216500e+06  67500.000000      7.000000      9.000000  1.000000e+08

              RENTM
count  7.264300e+04
mean   7.790450e+07
std    4.148903e+07
min    0.000000e+00
25%    1.000000e+08
50%    1.000000e+08
75%    1.000000e+08
max    1.000000e+08

[8 rows x 38 columns]